*/__pycache__
*.pyc
*.swp
*.swo
*.so
*.o
*.a
*.la
*.lo
Makefile
*/Makefile
*.in
config.h
config.log
config.status
configure.scan
autoscan.log
aclocal.m4
autom4te.cache/*
compile
configure
depcomp
install-sh
missing
stamp-h1
test-driver
config.guess
config.h.in~
config.sub
libtool
ltmain.sh
*/.deps/*
*/.libs/*

*.dirstamp
m4/
