._1g5o{min-width:120px}
.sp_RZ9AvWQKNjp{background-image:url(/rsrc.php/v3/yU/r/SL0kWSSjq87.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_RZ9AvWQKNjp.sx_dec98e{background-position:0 0}.sp_RZ9AvWQKNjp.sx_7b6819{background-position:0 -13px}

#bootloader_ulaKF{height:42px;}.bootloader_ulaKF{display:block!important;}